akkaStreams/.cache-main
akkaStreams/.classpath
akkaStreams/.project
akkaStreams/.settings/
akkaStreams/bin/
akkaStreams/target/
project/project/
project/target/
scalaLib/.cache-main
scalaLib/.classpath
scalaLib/.project
scalaLib/.settings/
scalaLib/bin/
scalaLib/target/
target/
tests/.classpath
tests/.project
tests/.settings/
tests/target/

